node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allure-results
/.playwright-mcp
/.data/.loginData.json
/data/loginData.json

# Environment variables
.env

# Authentication state
.auth/
